---
import Layout from "@layouts/Layout.astro";
import Comments from "@components/Comments.astro";
import { db, eq, Post, User, Forum } from "astro:db";

export async function getStaticPaths() {
    const posts = await db
        .select({
            title: Post.title,
            description: Post.description,
            id: Post.id,
            userId: User.id,
            userName: User.name,
            forumId: Forum.id,
            forumName: Forum.name,
        })
        .from(Post)
        .innerJoin(User, eq(Post.user, User.id))
        .innerJoin(Forum, eq(Post.forum, Forum.id));
    return posts.map((post) => ({
        params: { post: post.id },
        props: post,
    }));
}

interface Props {
    title: string;
    description: string;
    id: number;
    userId: number;
    userName: string;
    forumId: number;
    forumName: string;
}
const { title, description, id, userId, userName, forumId, forumName } =
    Astro.props;
---

<Layout title={title}>
    <div slot="header">
        <a href={`/users/${userId}`}>{userName}</a>
         in <a href={`/forums/${forumId}`}>{forumName}</a>
    </div>
    <div slot="header">
        <h2>{title}</h2>
    </div>
    <div slot="header">{description}</div>
    <Comments parent={id} />
</Layout>
