---
import Card from "@components/cards/Card.astro";
import Float from "@components/links/Float.astro";
import User from "@components/links/User.astro";
import Post from "@components/links/Post.astro";
import Votes from "@components/actions/Votes.astro";
import Reply from "@components/actions/ReplyComment.astro";
import Action from "@components/actions/Action.astro";
import type { CommentData } from "@lib/db";
import { Icon } from "astro-icon/components";
import Authorized from "@components/auth/Authorized.astro";

interface Props extends CommentData {
  active?: boolean;
}

const {
  id,
  postId,
  description,
  userId,
  userName,
  upvotes,
  downvotes,
  votedScore,
  active = false,
} = Astro.props;
---

<Card active={true}>
  <address slot="header">
    <Float>
      <User id={userId}>{userName}</User>
    </Float>
    {
      active && (
        <span>
          auf{" "}
          <Float>
            <Post id={postId}>ursprünglichen Beitrag</Post>
          </Float>
        </span>
      )
    }
    <slot name="forum" />
  </address>
  <slot name="title" slot="header" />
  {description}
  <slot name="embed" slot="embed" />
  <Votes slot="footer" {...{ commentId: id, upvotes, downvotes, votedScore }} />
  <form slot="footer" data-astro-reload>
    <input name="id" type="hidden" value={id} />
    <Reply parentId={id} postId={postId} />
    <Authorized userId={userId}>
      <Action target=`/comments/delete/${id}`>
        <Icon name="material-symbols:delete" title="delete" />
      </Action>
    </Authorized>
  </form>
</Card>

<style>
  form {
    display: inline;
  }
</style>
