---
import Card from "./Card.astro";
import Forum from "@components/links/Forum.astro";
import Cover from "@components/links/Cover.astro";
import Post from "@components/actions/Post.astro";

interface Props {
  forumName: string;
  forumId: number;
  forumDescription: string | null;
  active?: boolean;
}

const { forumName, forumId, forumDescription, active = false } = Astro.props;
---

<Card active={active}>
  <address slot="header">
    <Forum id={forumId}>{forumName}{!active && <Cover />}</Forum>
  </address>
  {forumDescription}

  <form slot="footer" data-astro-reload><Post forumId={forumId} /></form>
</Card>
