---
import Card from "./Card.astro";
import Cover from "@components/links/Cover.astro";
import Float from "@components/links/Float.astro";
import Title from "@components/links/Post.astro";
import User from "@components/links/User.astro";
import Forum from "@components/links/Forum.astro";
import Votes from "@components/actions/Votes.astro";
import Comments from "@components/actions/Comments.astro";
import Reply from "@components/actions/Reply.astro";
import Attachement from "@components/attachements/Attachement.astro";
import Delete from "@components/actions/Delete.astro";

const { user } = Astro.locals;

interface Props {
  postTitle: string | null;
  postDescription: string;
  postId: number;
  attachementUrl?: string | null;
  userName: string;
  userId: number;
  forumName?: string;
  forumId?: number;
  upvotes: number;
  downvotes: number;
  votedScore?: number | null;
  comments?: number;
  active?: boolean;
}

const {
  postTitle,
  postDescription,
  postId,
  attachementUrl,
  userName,
  userId,
  forumName,
  forumId,
  upvotes,
  downvotes,
  votedScore,
  comments,
  active = false,
} = Astro.props;
const votes = [upvotes, downvotes].every((v) => v != undefined);
---

<Card active={active}>
  <address slot="header">
    {
      userName && (
        <Float>
          <User id={userId}>{userName}</User>
        </Float>
      )
    }
    {
      forumName && (
        <>
          in{" "}
          <Float>
            <Forum id={forumId ?? 0}>{forumName}</Forum>
          </Float>
        </>
      )
    }
  </address>
  {
    postTitle && (
      <Title id={postId} slot="header">
        {postTitle}
        {!active && <Cover />}
      </Title>
    )
  }
  {postDescription}
  {attachementUrl && <Attachement url={attachementUrl} slot="attachements" />}
  <form slot="footer" data-astro-reload>
    {votes && <Votes {...{ postId, upvotes, downvotes, votedScore }} />}
    {
      comments != undefined ? (
        <Comments postId={postId} amount={comments} />
      ) : (
        <Reply postId={postId} />
      )
    }
    {userId === user?.id && <Delete postId={postId} />}
  </form>
</Card>
