---
import Card from "./Card.astro";
import Cover from "@components/links/Cover.astro";
import Title from "@components/links/Post.astro";
import User from "@components/links/User.astro";
import Forum from "@components/links/Forum.astro";
import Votes from "@components/actions/Votes.astro";
import Comments from "@components/actions/Comments.astro";
import Reply from "@components/actions/Reply.astro";

interface Props {
  postTitle: string | null;
  postDescription: string;
  postId: number;
  userName?: string;
  userId?: number;
  forumName?: string;
  forumId?: number;
  upvotes?: number;
  downvotes?: number;
  votedScore?: number;
  comments: number;
}

const {
  postTitle,
  postDescription,
  postId,
  userName,
  userId,
  forumName,
  forumId,
  upvotes,
  downvotes,
  votedScore,
  comments,
} = Astro.props;
const votes = [upvotes, downvotes].every((v) => v != undefined);
---

<Card>
  <address slot="header">
    {userName && <User id={userId}>{userName}</User>}
    {
      forumName && (
        <>
          in <Forum id={forumId}>{forumName}</Forum>
        </>
      )
    }
  </address>
  {
    postTitle && (
      <Title id={postId} slot="header">
        {postTitle}
        <Cover />
      </Title>
    )
  }
  {postDescription}
  <form slot="footer" data-astro-reload>
    {votes && <Votes {...{ postId, upvotes, downvotes, votedScore }} />}
    {
      comments != undefined ? (
        <Comments postId={postId} amount={comments} />
      ) : (
        <Reply postId={postId} />
      )
    }
  </form>
</Card>
