---
import { Icon } from "astro-icon/components";

interface Props {
  postId?: number;
  commentId?: number;
  upvotes: number;
  downvotes: number;
  votedScore?: number | null;
}
const { postId, commentId, upvotes, downvotes, votedScore = 0 } = Astro.props;
const upvoted = votedScore === 1;
const downvoted = votedScore === -1;
---

<form action="/api/vote/edit" method="post" data-astro-reload>
  <input name="postId" type="hidden" value={postId} />
  <input name="commentId" type="hidden" value={commentId} />
  <input name="score" type="hidden" value={upvoted ? 0 : 1} />
  <button class:list={[{ active: upvoted }]} type="submit">
    <Icon name={"material-symbols:thumb-up"} />
    {upvotes}
  </button>
</form>
<form action="/api/vote/edit" method="post" data-astro-reload>
  <input name="postId" type="hidden" value={postId} />
  <input name="commentId" type="hidden" value={commentId} />
  <input name="score" type="hidden" value={downvoted ? 0 : -1} />
  <button class:list={[{ active: downvoted }]} type="submit">
    <Icon name={"material-symbols:thumb-down"} />
    {downvotes}
  </button>
</form>

<style lang="scss">
  button {
    position: relative;
    z-index: 1;
  }
  form {
    display: inline;
  }
</style>
